DATABASE_URL = 
SECRET_KEY = 
ALGORITHM = 
ACCESS_TOKEN_EXPIRE_MINUTES = 
REFRESH_TOKEN_EXPIRE_DAYS = 

MAIL_USERNAME= 
MAIL_PASSWORD= 
MAIL_PORT= 
MAIL_SERVER= 
MAIL_FROM= 
MAIL_FROM_NAME=

DOMAIN= 
FRONTEND_URL = 

REDIS_URL =

UPLOAD_PATH = 

BASE_DIR = 

CACHE_EXPIRATION_TIME = 

IMAGEKIT_PRIVATE_KEY = 
IMAGEKIT_PUBLIC_KEY = 
IMAGEKIT_URL_ENDPOINT = 

SENTRY_DSN =